# Python 3.x 编程基础

## 1.0 输入和输出 input/output IO

In [1]:
print('hello world')

hello world

In [2]:
print('The quick brown fox','jumps over','the lazy dog')

The quick brown fox jumps over the lazy dog

In [3]:
print(300)

300

In [4]:
print(100+200)

300

In [6]:
print('100+200 =',100+200)

100+200 = 300

In [7]:
name = input()

xupu

In [8]:
name

'xupu'

In [9]:
print(name)

xupu

In [10]:
name = input()
print('hello',name)

xupu
hello xupu

In [12]:
name = input('please enter your name:')
print('hello,' ,name)

please enter your name:xupu
hello, xupu

In [13]:
print(1024*768)

786432

In [14]:
#print absolute value of an integer  注释内容
a = 100
if a >= 0:  #代码块缩进 4个空格
    print(a)
else:
    print(-a)
#python 大小写敏感

100

## 2.0 python基础：数据类型和变量；字符串和编码；list和tuple；条件判断；循环；dict和set

### 2.1 数据类型和变量   整数/浮点数/字符串/布尔型/空值

In [5]:
n = 123
type(n)

int

In [6]:
f = 456.789
type(f)

float

In [7]:
s1 = 'Hello, world'
type(s1)

str

In [8]:
s2 = 'Hello, \'Adam\'' #中间那对引号为转义
print(s2)
type(s2)

Hello, 'Adam'

str

In [10]:
s3 = r'Hello, "Bart"'
print(s3)

Hello, "Bart"

In [11]:
s4 = r'''Hello, Lisa!'''
print(s4)

Hello, Lisa!

### 2.2 字符串和编码   python3的字符串使用Unicode编码

In [23]:
'Hello,%s' % 'world'

'Hello,world'

In [24]:
'Hi, %s, you have $%d.' % ('xupu',10000)

'Hi, xupu, you have $10000.'

In [29]:
s1 = 72
s2 = 85
r = (s2-s1)*100/s1
print (r)
print('%.1f %%'% r)

18.055555555555557
18.1 %

### 2.3 list and tuple  python内置的有序集合 一个可变，一个不可变

In [30]:
classmates = ['Michael','Bob','Tracy']
classmates

['Michael', 'Bob', 'Tracy']

In [31]:
len(classmates)

3

In [32]:
classmates[0]

'Michael'

In [33]:
classmates[-1]

'Tracy'

In [34]:
classmates.append('Adam')
classmates

['Michael', 'Bob', 'Tracy', 'Adam']

In [35]:
classmates.insert(1,'Jack')
classmates

['Michael', 'Jack', 'Bob', 'Tracy', 'Adam']

In [36]:
classmates.pop()

'Adam'

In [37]:
classmates

['Michael', 'Jack', 'Bob', 'Tracy']

In [38]:
classmates.pop(1)

'Jack'

In [39]:
classmates

['Michael', 'Bob', 'Tracy']

In [40]:
L = ['Apple',123,True]

In [41]:
s = ['python','java',['asp','php'],'scheme']
len(s)

4

In [42]:
p = ['asp','php']
s = ['python','java',p,'scheme']
s[2][1]

'php'

#### tuple不能修改

In [13]:
#但tuple中的列表可以改
t = ('a','b',['A','B'])
t[2][0] = 'X'
t[2][1] = 'Y'
t

('a', 'b', ['X', 'Y'])

### 2.4 条件判断

In [1]:
age = 20 
if age >= 18:
    print('your age is',age)
    print('adult')

your age is 20
adult

In [2]:
age = 3
if age>=18:
    print('your age is',age)
    print('adult')
else:
    print('your age is',age)
    print('teenager')

your age is 3
teenager

In [16]:
age = 7
if age>=18:
    print('adult')
elif age>=6:
    print('teenager')
else:
    print('kid')

teenager

In [5]:
s = input('birth:') #input()返回的数据类型是str
birth = int(s)
if birth<2000:
    print('00前')
else:
    print('00后')

birth:1988
00前

In [18]:
height = int(input('请输入升高cm'))/100
weight = int(input('请输入体重kg'))
bmi = weight/(height**2)
if bmi<18.5:
    print('过轻')
if bmi>=18.5 and bmi<25:
    print(bmi)
    print('正常')
if bmi>=25 and bmi<28:
    print('过重')
if bmi>28 and bmi<32:
    print('严重肥胖')

18.51851851851852
正常

### 2.5 循环  for/while

In [9]:
names = ['Jepson','Bob','Tracy']
for name in names:
    print(name)

Jepson
Bob
Tracy

In [10]:
sum = 0
for x in range(101):
    sum = sum+x
print(sum)

5050

In [11]:
sum = 0
n = 99
while n>0:
    sum = sum + n
    n = n - 2
print(sum)

2500

In [17]:
L = ['Bart','Lisa','Adam']
for name in L:
    print('Hello,',name,'!')
    print('Hello,%s!'%(name))

Hello, Bart !
Hello,Bart!
Hello, Lisa !
Hello,Lisa!
Hello, Adam !
Hello,Adam!

In [14]:
n = 1
while n<=100:
    if n>10:
        break
    print(n)
    n=n+1
print('END')

1
2
3
4
5
6
7
8
9
10
END

In [15]:
n = 0
while n<10:
    n=n+1
    if n%2 == 0:
        continue #跳过条件值并继续循环
    print(n)

1
3
5
7
9

### 2.6 dict and set

In [1]:
d = {'Jepson':95,'Bob':75,'Tracy':85}

In [2]:
d['Jepson'] #作为key的对象不能变，在python中，字符串/整数等都是不可变的

95

In [3]:
s = set([1,2,3])

In [4]:
s

{1, 2, 3}

In [5]:
s = set([1,1,2,2,3,3])

In [6]:
s

{1, 2, 3}

In [7]:
s.add(4)

In [8]:
s

{1, 2, 3, 4}

In [9]:
s.add(4)

In [10]:
s

{1, 2, 3, 4}

In [11]:
s.remove(4)

In [12]:
s

{1, 2, 3}

In [13]:
s1 = set([1,2,3])
s2 = set([2,3,4])

In [14]:
s1&s2

{2, 3}

In [15]:
s1|s2

{1, 2, 3, 4}

## 3.0 函数：调用函数；定义函数；函数的参数；递归函数

In [ ]:
#函数

In [16]:
a = abs
a(-1)

1

In [17]:
n1=255
n2=1000
print(hex(n1),hex(n2))

0xff 0x3e8

In [18]:
def my_abs(x):
    if not isinstance(x,(int,float)):
        raise TypeError('bad operand type')
    if x>=0:
        return x
    else:
        return -x

In [19]:
my_abs('A')

TypeError: bad operand type

In [20]:
import math

def move(x,y,step,angle=0):
    nx = x+step*math.cos(angle)
    ny = y-step*math.sin(angle)
    return nx,ny

In [21]:
move(100,100,60,math.pi/6)

(151.96152422706632, 70.0)

In [30]:
def quadratic(a,b,c):
    if a == 0:
        x = -c/b
        return x
    if a != 0:
        if b**2-4*a*c>=0:
            x1 = (-b+math.sqrt(b**2-4*a*c))/(2*a)
            x2 = (-b-math.sqrt(b**2-4*a*c))/(2*a)
            return x1,x2
        else:
            print('无实数解')

In [43]:
quadratic(5,9,5)

无实数解

#### 参数

##### 位置参数/默认参数/可变参数/关键字命名参数/关键字参数

In [1]:
def add_end(L=None):
    if L is None:
        L = []
    L.append('END')
    return L

In [4]:
add_end(L=['a'])

['a', 'END']

##### 可变参数允许传入0个或任意个参数，这些可变参数在函数调用时自动组装为一个tuple

In [7]:
def calc(*numbers):
    sum=0
    for n in numbers:
        sum = sum+n*n
    return sum

In [8]:
calc(1,2,3)

14

In [9]:
nums = [1,2,3]

In [10]:
calc(*nums)

14

### 递归函数

In [11]:
def fact(n):
    if n == 1:
        return 1
    return n*fact(n-1)

In [13]:
fact(5)

120

In [18]:
# 汉诺塔移动
def move(n,a,b,c):
    if n == 1:
        print(a,'--',c)
    else:
        move(n-1,a,c,b)
        move(1,a,b,c)
        move(n-1,b,a,c)

In [19]:
move(3,'a','b','c')

a -- c
a -- b
c -- b
a -- c
b -- a
b -- c
a -- c

In [20]:
move(2,'a','b','c')

a -- b
a -- c
b -- c

## 4.0 高级特性：切片；迭代；列表生成式；生成器；迭代器

### 4.1 切片

In [1]:
L = list(range(100))

In [2]:
L[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
L[-10:]

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [6]:
L[10:20]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
L[:10:2]

[0, 2, 4, 6, 8]

In [7]:
L[::5]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [10]:
(0,1,2,3,4,5,6)[:3]

(0, 1, 2)

In [11]:
'abcdefg'[:3]

'abc'

In [12]:
'abcdef'[::2]

'ace'

### 4.2 迭代

In [6]:
L = ['XUPU','YANGY','TIANT']
for i,k in enumerate(L):
    print (i,k)

0 XUPU
1 YANGY
2 TIANT

In [13]:
d = {'a':1,'b':2,'c':3}

In [17]:
for i in d:
    print (i)

b
a
c

In [16]:
for k,v in d.items():
    print (k,v)

b 2
a 1
c 3

In [18]:
for ch in 'ABC':
    print(ch)

A
B
C

In [19]:
for x,y in [(1,1),(2,4),(3,9)]:
    print(x,y)

1 1
2 4
3 9

### 4.3 列表生成式

In [20]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
L = []
for x in range(1,11):
    L.append(x*x)

In [22]:
L

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
[x*x for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
[x*x for x in range(1,11) if x%2==0]

[4, 16, 36, 64, 100]

In [25]:
[m+n for m in 'ABC' for n in 'XYZ']

['AX', 'AY', 'AZ', 'BX', 'BY', 'BZ', 'CX', 'CY', 'CZ']

In [26]:
d = {'x':'A','y':'B','z':'C'}
for k,v in d.items():
    print(k,'=',v)

x = A
y = B
z = C

In [27]:
[k+'='+v for k,v in d.items()]

['x=A', 'y=B', 'z=C']

In [28]:
L = ['Hello','World','IBM','Apple']
[s.lower() for s in L]

['hello', 'world', 'ibm', 'apple']

In [30]:
L = ['Hello', 'World', 18, 'Apple', None]
[s.lower() for s in L if isinstance(s,str)]

['hello', 'world', 'apple']

In [7]:
isinstance?

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

### 4.4 生成器

In [31]:
L = [x*x for x in range(10)]

In [32]:
g = (x*x for x in range(10))

In [33]:
for n in g:
    print(n)

0
1
4
9
16
25
36
49
64
81

In [44]:
def fib(max):
    n,a,b = 0,0,1
    while n < max:
        print(b)
        a,b = b,a+b
        n = n+1
    return 'done'

In [45]:
fib(6)

1
1
2
3
5
8

'done'

In [46]:
def fib(max):
    n,a,b = 0,0,1
    while n<max:
        yield(b)
        a,b = b,a+b
        n = n+1
    return 'done'

In [47]:
fib(6)

In [ ]:
#生成器都是Iterator对象，
#但list、dict、str虽然是Iterable，却不是Iterator。
#把list、dict、str等Iterable变成Iterator可以使用iter()函数

In [56]:
from collections import Iterator
isinstance(iter([]),Iterator)

True

In [48]:
#迭代器输出
for n in fib(6):
    print(n)

1
1
2
3
5
8

In [1]:
def triangles():
    L = [1]
    while True:
        yield L
        L = [1] + [L[i-1]+L[i] for i in range(len(L)) if i >0] +[1]

In [3]:
n = 0
for t in triangles():
    print(t)
    n = n + 1
    if n == 10:
        break

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

### 函数式编程:高阶函数（map/reduce,filter,sorted);返回函数；匿名函数；装饰器；偏函数

In [1]:
def add(x,y,f):
    return f(x)+f(y)
#高阶函数就是让函数的参数能够接收别的函数

In [3]:
add(5,-6,abs)

11

In [4]:
# map/reduce

In [10]:
def f(x):
    return x*x

In [12]:
r = map(f,[1,2,3,4,5,6,7,8,9])

In [8]:
list(r)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
from functools import reduce

In [15]:
reduce?

Docstring:
reduce(function, sequence[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence,
from left to right, so as to reduce the sequence to a single value.
For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the sequence in the calculation, and serves as a default when the
sequence is empty.
Type:      builtin_function_or_method

In [10]:
def fn(x,y):
    return x*10+y

In [11]:
reduce(fn,[1,3,5,7,9])

13579

In [12]:
def char2num(s):
    return{'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}[s]

In [13]:
reduce(fn,map(char2num,'13579'))

13579

In [14]:
#整理一下
from functools import reduce
def str2int(s):
    def fn(x,y):
        return x*10+y
    def char2num(s):
        return{'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}[s]
    return reduce(fn,map(char2num,s))

In [ ]:
# 也就是说，假设Python没有提供int()函数，
# 你完全可以自己写一个把字符串转化为整数的函数，而且只需要几行代码！

In [19]:
def normalize(name):
    return name[0].upper()+name[1:].lower()

In [20]:
L1 = ['adam','LISA','barT']

In [21]:
L2 = list(map(normalize,L1))

In [22]:
L2

['Adam', 'Lisa', 'Bart']

In [25]:
def prod(L):
    return reduce(lambda x,y: x*y, L)

In [26]:
prod([3,5,7,9])

945

In [16]:
3*5*7*9

945

In [31]:
def str2float(s):
    def char2num(s):
        return{'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}[s]
    dot = s.find('.')
    def int2float(s):
        return reduce(lambda x,y:x*10+y,map(char2num,s))
    left = int2float(s[0:dot])
    right = int2float(s[dot+1:])
    return left+right/(10**(len(s)-dot-1))

In [32]:
str2float('123.456')

123.456

In [33]:
# filter() 过滤序列,从一个序列中筛选出符合条件的元素

In [34]:
def is_odd(n):
    return n%2 == 1

In [35]:
list(filter(is_odd,[1,2,3,4,5,6]))

[1, 3, 5]

In [36]:
def _odd_iter():
    n = 1
    while True:
        n = n+2
        yield n
#从3开始的奇数序列（无限）生成器

In [37]:
def _not_divisible(n):
    return lambda x: x%n>0

In [40]:
def primes():
    yield 2 #生成2这个素数
    it = _odd_iter() #从3开始的奇数无限序列（排除所有偶数都不是素数）
    while True:
        n = next(it)#返回序列的第一个数
        yield n # 生成这个数
        it = filter(_not_divisible(n),it)#过滤掉it序列中能整除n的数

In [43]:
for n in primes():
    if n<20:
        print(n)
    else:
        break

2
3
5
7
11
13
17
19

In [52]:
def is_palindrome(n):
    n = str(n)
    return n == n[::-1]

In [53]:
output = filter(is_palindrome,range(1,1000))

In [54]:
print(list(output))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

In [ ]:
#sorted 排序算法

In [1]:
sorted([36,-12,5,9,-21])

[-21, -12, 5, 9, 36]

In [2]:
sorted([36,-12,5,9,-21],key=abs)

[5, 9, -12, -21, 36]

In [3]:
sorted([36,-12,5,9,-21],reverse=True)

[36, 9, 5, -12, -21]

In [4]:
sorted(['bob','about','Zoo','Credit'],key=str.lower)

['about', 'bob', 'Credit', 'Zoo']

In [5]:
L = [('Bob',75),('Adam',92),('Bart',66),('Lisa',88)]

In [6]:
def by_name(t):
    return t[0]

In [8]:
sorted(L,key=by_name)

[('Adam', 92), ('Bart', 66), ('Bob', 75), ('Lisa', 88)]

In [9]:
def by_score(t):
    return t[1]

In [10]:
sorted(L,key=by_score)

[('Bart', 66), ('Bob', 75), ('Lisa', 88), ('Adam', 92)]

In [ ]:
#返回函数